@page "{bucketid:guid}"
@model IndexModel

<div class="container">
    <div>
        <h2>HTTP Bucket</h2>
        <p>Created @Model.Created.ToString("yyyy-MM-dd HH:mm:ss")</p>
        <p>Make a HTTP request (GET/POST/PUT/DELETE) to <b>@Request.Scheme://@Request.Host/@Model.BucketId/whatever-url</b> and the request is show below.</p>
        <p>Want something other than status-code 200 in return? Specify the desired code like this <b>@Request.Scheme://@Request.Host/204/@Model.BucketId/someurl</b></p>
        <hr>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table" id="messagesList">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Received</th>
                    <th scope="col">Method</th>
                    <th scope="col">Path</th>
                    <th scope="col">Headers</th>
                    <th scope="col">Ret.StatusCode</th>
                    <th scope="col">Body</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.HistoricEntries.OrderByDescending(o=>o.Received))
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Received.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@item.Method</td>
                        <td>@item.Path</td>
                        @* <td><i class="fas fa-list" title="@headerText"></i></td> *@
                        <td>@item.StatusCodeToReturn</td>
                        <td>@item.Body</td>
                    </tr>
                }
            </tbody>
            </table>
        </div>
    </div>
</div>