@page "{bucketid:guid}"
@model IndexModel

<div class="container">
    <div class="card">
        <div class="card-header">
            HTTP Bucket
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Created @Model.Created.ToString("yyyy-MM-dd HH:mm:ss")</h6>
            <p class="card-text">Make a HTTP request (GET/POST/PUT/DELETE) to <a href="@Request.Scheme://@Request.Host/@Model.BucketId/whatever-url" target="_blank"><b>@Request.Scheme://@Request.Host/@Model.BucketId/whatever-url</b></a> and the request show up below!</p>
            <p class="card-text">Need to return something different than HTTP/200? Specify the desired code like this @Request.Scheme://@Request.Host/<b>204</b>/@Model.BucketId/someurl</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table" id="messagesList">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Received</th>
                    <th scope="col">Method</th>
                    <th scope="col">Path</th>
                    <th scope="col">Headers</th>
                    <th scope="col">Returned StatusCode</th>
                    <th scope="col">Body</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @Model.HistoricEntries.OrderByDescending(o=>o.Received))
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Received</td>
                        <td>@item.Method</td>
                        <td>@item.Path</td>
                        <td><i class="fas fa-list" title="@item.Headers"></i></td>
                        <td>@item.StatusCodeToReturn</td>
                        <td>@item.Body</td>
                    </tr>
                }
            </tbody>
            </table>
        </div>
    </div>
</div>